@media only screen and (min-width: 900px) and (max-width: 1100px){
    
    .about {
        padding: 2px !important;
    }
}


  .typewriter {
    border-right: solid 3px gold;
    white-space: nowrap;
    overflow: hidden; 
  }
  
  .typewriter {
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 193px;}
  }
  
  @keyframes animated-cursor{
    from{border-right-color: gold;}
    to{border-right-color: transparent;}
  }